.article-typography {
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  h4 {
    font-size: 1.25rem;
    padding-top: 1rem;
  }
  p {
    color: #a1a1a1;
    font-size: 1rem;
    padding-top: 1rem;
  }
}
