@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

@theme {
  --color-theme-color: hsl(30, 85%, 65%);
  --color-theme-link: hsl(30, 85%, 65%);
  --color-theme-link-visited: hsl(246, 35%, 49%);
  --color-theme-color-backdrop: hsla(30, 100%, 80%, 0.15);
  --color-warning: hsl(9, 100%, 64%); /* tomato */
  --animate-bouncing-arrow: bouncing-arrow 1s infinite;
  --header-height: 4rem; /* 64px */
  --related-articles-carousel-spacing: 0.25rem; /* 4px */

  @keyframes bouncing-arrow {
    0%,
    100% {
      top: 50%;
      left: 50%;
      transform: translate(0, -10%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      top: 50%;
      left: 50%;
      transform: translate(0, 15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

[aria-current="true"] {
  color: var(--color-theme-color);
  background-color: var(--color-theme-color-backdrop);
}

[aria-current="false"] {
  color: #a1a1a1;
}

[aria-current="true"]:after {
  background-color: var(--color-theme-color);
}

[aria-current="true"]:hover {
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  /* Firefox */
  background: #404040;
}

::selection {
  background: #404040;
}

@layer base {
  /*------------------------------=====scrollbar=====------------------------------*/
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    /* height: 6px; */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #262626;
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
  /*------------------------------=====TipTap=====------------------------------*/
}
