@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

@theme {
  --animate-bouncing-arrow: bouncing-arrow 1s infinite;
  --header-height: 4rem; /* 48px */

  @keyframes bouncing-arrow {
    0%,
    100% {
      top: 50%;
      left: 50%;
      transform: translate(0, -10%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      top: 50%;
      left: 50%;
      transform: translate(0, 15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

[aria-current="page"] {
  color: oklch(70.4% 0.14 182.503);
}

[aria-current="page"]:after {
  background-color: oklch(70.4% 0.14 182.503);
}

[aria-current="page"]:hover {
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  /* Firefox */
  background: #404040;
}

::selection {
  background: #404040;
}
